aur/
gdrive/
Downloads/
.Xauthority
.bash_logout
.bash_profile
.bashrc
.cache/
.config/QtProject.conf
.config/chromium/
.config/fish/fish_variables
.config/gtk-2.0/
.config/keepassxc/
.lesshst
.local/
.nv/
.pki/
.ssh/
.viminfo
.gitconfig
