aur/
gdrive/
Downloads/
Desktop/
.MakeMKV/
.sdkman/
.Xauthority
.bash_logout
.bash_history
.cache/
.config/QtProject.conf
.config/chromium/
.config/fish/fish_variables
.config/gtk-2.0/
.config/keepassxc/
.config/JetBrains/
.config/dconf/
.config/ghb/
.config/godot/
.config/unity3d/
.config/htop/
.config/pulse/
.config/sublime-text/
.config/menus/
.config/vlc/
# haskel
.stack-work
.stack
.lesshst
.local/
.nv/
.pki/
.ssh/
.viminfo
.gitconfig
.audacity-data/
.dvdcss/
.fehbg
.gnome/
.gnupg/
.idea-build/
.ivy2/
.java/
.node_repl_history
.npm/
.nvm/
.config/configstore/
.python_history
.pulse-cookie
.sbt/
.mpd/log
.mpd/state
# steam
.config/cef_user_data/
.steam
.steampath
.steampid
games/
dev/
